@charset "UTF-8";

#container {
  width: 350px;
  min-height: 350px;
  float: left;
  margin: 15px 35px;
}

#states path {
  fill: #585858;
  fill: white;
  stroke: #000000;
  stroke: gray;
  stroke-width: 1.5px;
}

#states path:hover {
  fill: #009300;
  fill: yellow;
}

#states .active {
  fill: #00b700;
}

#states .activeDetail {
  fill: #00b700;
}

#states path {
  cursor: pointer;
}

#states text {
  cursor: pointer;
  font-size: 15px;
  fill: #fff;
  fill: black;
  font-weight: bold;
}
