 /* 메뉴 스타일링을 위한 CSS */
 .side_frame {
    position: relative;
    display: flex;
    height: 100vh;
    float: left;
    margin: 0;
}




.side_frame ul.side_bar {
    display: inline-block;
    height: 100vh;
    background-color: #aaaaaa;
    list-style-type : none;
    margin: 0;
    padding: 0;
    text-align: center;
}



.side_frame ul.side_bar li#pknu{
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
}

.side_frame ul.side_bar li img.main_tab_img{
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;

    cursor: pointer;
}


.side_frame ul.side_bar .main_tab{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 0;
    height: 0;
    display: none;
}


.search_bar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #f1f1f1;
}



/* 토글 버튼 */
.side_frame button.folderButton {    
    width: 20px;
    padding: 0;
    position: absolute;
    top: 50%;
    right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    transform: translateY(-50%);
    transform: translateX(100%);
}








/* 검색 방식 탭 */
.search_tab{
    width: 25px;
    padding: 0;
    margin:0;
    position: absolute;
    right: 0;
    transform: translateX(100%);


    list-style-type : none;
}


.search_tab li input{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 0;
    height: 0;
    display: none;
}

.search_tab li label{
    width: 25px;
    height: 120px;
    border: 2px solid #ccc;
    cursor: pointer;

    padding: 0;
    margin: 0;
    background-color: #ccc;
    border-left: transparent; 

    text-align: center;
    letter-spacing: 2px; /* 원하는 글자 간격 값 */    
    writing-mode: vertical-lr;
    text-orientation: upright;
}

.search_tab li input:checked + label{
    background-color: #f1f1f1;    
}

    /* 검색 방법 탭 */

    .searchingTab{
        display: flex;
        height: 100%;
        align-items: center;
        list-style-type : none;
        
        padding: 0;
        margin:0;
    }

    .searchingTab li{
        flex:1;
        margin: 0;
        padding: 0;
    }


    .searchingTab li input{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: none;
        width: 0;
        height: 0;
    }

    .searchingTab li label{
        width: 100%;
        height: 80px;
        border: 2px solid #ccc;
        cursor: pointer;

        padding: 0;
        margin: 0;
        background-color: #ccc;
        border-left: transparent; 
        display: flex; /* 중앙 정렬을 위해 flexbox 사용 */
        justify-content: center; /* 수평 가운데 정렬 */
        align-items: center; /* 수직 가운데 정렬 */
    }

    .searchingTab li input:checked + label{
        background-color: #f1f1f1;    
    }

    .searchingTab li label {
        padding: 0;
        margin: 0;
      }