 /* 메뉴 스타일링을 위한 CSS */
 .menu-bar {
    position: relative;
    display: flex;
    height: 100vh;
    float: left;
    margin: 0;
}

.menu-bar ul.side-bar {
    display: inline-block;
    height: 100vh;
    background-color: #aaaaaa;
    list-style-type : none;
    margin: 0;
    padding: 0;
    text-align: center;
}


.menu-bar ul.side-bar li{
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
}

.menu-bar ul.side-bar li#pknu{
    margin-top: 10px;
    
    margin-left: 0;
    margin-right: 0;
}


.menu-bar ul.menu {
    display: inline-block;
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #f1f1f1;
}

.menu-bar ul.menu li {
    display: block;
}

.menu-bar ul.menu li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
}

.menu-bar ul.menu li a:hover {
    background-color: #ddd;
}

/* 토글 버튼 */
.menu-bar button.folderButton {    
    width: 20px;
    padding: 0;
    position: absolute;
    top: 50%;
    right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    transform: translateY(-50%);
    transform: translateX(100%);
}



/* 검색창 */
.search-container {
    margin: 5px;
    padding: 5px;
    border: 2px solid #000 ;
    display: flex;

}

.search-container input[type="text"] {
    flex: 1;
    outline: none;
    border: none;
    padding: 5px;
    font-size: 16px;
    background: none;
}

.search-container button {
    padding: 5px;
    background: none;
    border: none;
    cursor: pointer;
    float: right;
}

/* 메뉴 탭 */
.menu_tab{
    width: 25px;
    padding: 0;
    margin:0;
    position: absolute;
    right: 0;
    transform: translateX(100%);


    list-style-type : none;
}


.menu_tab li button{
    padding: 0;
    margin: 0;
    width: 25px;
    height: 140px;
    background-color: #aaaaaa;
    border-left: transparent;    
}

.menu_tab li button a{
    text-align: center;
    line-height: 0; /* 텍스트 높이에 따라 조정 */
    height: 100px;
    writing-mode: vertical-lr;
    text-orientation: upright;
}


.clicked_tab {
    background-color: #bbbbbb;
}

.menu .search_result_table table {
    width: 100%;
    padding: 20px;
    border-collapse: collapse;
}
.menu .search_result_table th, td {
    padding: 10px;
}

.menu .search_result_table thead {
    border-bottom: 2px solid black;
}