

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

.search_bar{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #f1f1f1;
  }


/* 검색창 */
.search-container {
    display: flex;
    margin: 5px;
    padding: 5px;
    border: 2px solid #000 ;
}
.search-container input[type="text"] {
    flex: 1;
    outline: none;
    border: none;
    padding: 5px;
    font-size: 16px;
    background: none;
}

.search-container button {
    padding: 5px;
    background: none;
    border: none;
    cursor: pointer;
    float: right;
}


    /* 검색 결과 표시창 */
    .search_bar .search_result_table table {
        width: 100%;
        padding: 20px;
        border-collapse: collapse;
    }
    .search_bar .search_result_table th, td {
        padding: 10px;
    }

    .search_bar .search_result_table thead {
        border-bottom: 2px solid black;
    }


    /* 검색 방법 탭 */

    .searchingTab{
        display: flex;
        height: 80px;
        align-items: center;
        list-style-type : none;
        
        padding: 0;
        margin:0;
    }


    .searchingTab li input{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: none;
        
        width: 0;
        height: 0;
    }

    .searchingTab li label{
        width: 50%;
        height: 80px;
        border: 2px solid #ccc;
        cursor: pointer;

        padding: 0;
        margin: 0;
        background-color: #ccc;
        border-left: transparent; 

        text-align: center;
    }

    .searchingTab li input:checked + label{
        background-color: #f1f1f1;    
    }

