

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

.search_bar{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #f1f1f1;
  }


/* 검색창 */
.search-container {
    display: flex;
    margin: 5px;
    padding: 5px;
    border: 2px solid #000 ;
}
.search-container input[type="text"] {
    flex: 1;
    outline: none;
    border: none;
    padding: 5px;
    font-size: 16px;
    background: none;
}

.search-container button {
    padding: 5px;
    background: none;
    border: none;
    cursor: pointer;
    float: right;
}


    /* 검색 결과 표시창 */
    .search_bar .search_result_table table {
        width: 100%;
        padding: 20px;
        border-collapse: collapse;
    }
    .search_bar .search_result_table th, td {
        padding: 10px;
    }

    .search_bar .search_result_table thead {
        border-bottom: 2px solid black;
    }