.weather{
    align-items: center;
    padding: 10px;
    display: flex;
    position: fixed;
    right: 40px;
    top: 20px;

    background-color: white;
    border-radius: 20%;
    z-index: 1;
}
.weather img{
    width: 20px;
    height: 20px;
    
}

.weather span{
    margin-left: 5px;
}